DATABASE_URL=postgresql+asyncpg://sna_user:sna_password@localhost:5432/sna_instagram
GRAPH_DATA_PATH=../data/processed/graph_data.json
INFLUENCER_CSV_PATH=../data/processed/influencer_ranking.csv
COMMUNITY_CSV_PATH=../data/processed/community_profiles.csv
DATASET_PATH=../data/processed/dataset_clean.csv
